* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#titulo,
h3 {
    text-align: center;
    line-height: 30px;
    padding: 20px 0px 10px 0px;
    color: #5a5661;
}

 .cart {
    background-color: #f5ebe0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

} 

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside, button {
    margin: 10px;
}

aside h2 {
    color: #6d6875;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 1px double #f3d8c7;
}

footer {
    padding: 20px;
    margin: 2px;
}

footer .mapa,
footer .redes,
footer .mapa h4 {
    padding-bottom: 5px;
}

footer .redes a {
    color: #4d4646;
    text-decoration: none;
}

footer .redes a img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width: 1080px) {
    .imagen {
        width: 100px;
        height: 100px;
    }
}